@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&display=swap");

:root {
  --blue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);

  --font-family-default: "Outfit", san-serif;

  --fs-400: 0.95rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}
img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--lightgray);
  font-family: var(--font-family-default);
  font-size: var(--fs-400);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.component-qr {
  width: 320px;
  padding: 1rem;

  background-color: var(--white);

  box-shadow: 0px 0px 50px hsla(0, 0%, 0%, 0.2);
  border-radius: 1rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  font-size: var(--fs-700);
  font-weight: 700;
  margin: 1.5rem 0.5rem 1rem;
}

.component-qr img {
  border-radius: inherit;
}

.component-qr p {
  margin-bottom: 1.5rem;
  padding-inline: 0.6rem;

  color: hsla(0, 0%, 0%, 0.5);
}
